<html>
  <head>
    <title>Commenter un potin</title>
  </head>
  <body>
    <form action="/gossips/<%=id%>/comment/" method="POST">
    <h1>Commenter un potin</h1>
    <strong>Identifiant du commentaire</strong> <input type="text" name="id"><br>
      <strong>Votre commentaire :</strong> <input type="text" name="comm">
      <input type="submit">
    </form>
  </body>
</html>
